.container2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0.75rem auto;
}

.collections2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.foryou {
  display: flex;
  flex: 0 0 30%;
}

.collection_container {
  min-width: 15rem;
  transition: opacity 0.3s ease;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 10px;
}

.collection_container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.createCollection {
  min-height: 18rem;
  min-width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.createCollection:hover {
  opacity: 0.5;
  cursor: pointer;
}

.addIcon {
  object-fit: cover;
  height: 4rem;
}

.img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: opacity 0.3s ease;
}

.img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.list_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list_info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9rem;
}

.collection_name {
  font-weight: bold;
  font-size: 16px;
}

.icons_container {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.svg {
  width: 27px;
  height: 27px;
  padding: 3px;
  border-radius: 3px;
}

.svg:hover {
  background-color: #efefef;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 3.45rem;
}

.page_title {
  margin: 0.5rem auto 0 auto;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.secondary_button,
.primary_button {
  border: 0;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
  width: max-content;
  transition:
    background-color 0.3s ease,
    color 0.7s ease;
  border: 2px solid black;
}

.primary_button:hover {
  background-color: white;
  color: black;
}

.secondary_button {
  background-color: white;
  color: black;
}

.secondary_button:hover {
  background-color: black;
  color: white;
}

.create_button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 auto 1rem auto;
}

.modal_button {
  padding: 1rem 4rem;
}

.modal_container {
  z-index: 30;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog_container {
  padding: 2rem;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.shop_modal {
  padding: 2rem;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dialog_header {
  display: flex;
  justify-content: center;
}

.form_input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form_error {
  color: #ef4444;
  text-align: center;
}

.form_success {
  color: #22c55e;
  text-align: center;
}

.text_center {
  text-align: center;
}

.loading {
  margin: auto;
  height: 3rem;
  width: 3rem;
}

.collection_title {
  margin: 0 auto;
  font-size: 1.3rem;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: #fff;
  width: max-content;
}

.imgBig {
  height: 6em;
  width: 6.8em;
}

.card_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.card_container {
  border-radius: 0.75rem;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.button_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}

.image {
  height: 15rem;
  object-fit: contain;
  background-color: #eaebed;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.image:hover {
  opacity: 0.8;
}

.image_display {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder {
  width: 100%;
  height: 60vh;
  margin: auto;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.collection_wrapper {
  z-index: 15;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.collection_content {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.collection_header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.left_arrow {
  width: 3rem;
}

.left_arrow:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 5px;
}

.collection_body {
  display: flex;
  justify-content: center;
}

.clothing_display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.item_container {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.information_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  max-width: 15rem;
}

.information_container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item_name {
  font-weight: 600;
  font-size: 16px;
}

.store_name {
  color: gray;
  font-size: 14px;
}

.fyp {
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(228, 228, 231);
  width: fit-content;
  height: 2.5rem;
  align-items: center;
  border-radius: 10px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.fyp p {
  font-size: 15px;
  font-weight: 600;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 7px;
}

.fyp p:hover {
  cursor: pointer;
}

.bg_white {
  background-color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dialog_container {
    padding: 1.5rem;
  }

  .image {
    height: 12.5rem;
  }

  .modal_button {
    padding: 1rem 2rem;
  }

  
  .shop_modal {
    padding: 1.5rem;
  }
}
