.container {
  display: flex;
  flex-direction: column;
  margin: 0 3.45rem;
}

.page_title {
  margin-top: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin: auto;
  padding-bottom: 1em;
}

.button_container {
  background-color: black;
  width: max-content;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
}

.button_container:hover {
  cursor: pointer;
  background-color: #1d4ed8;
}

.modal_container {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog_container {
  padding: 2rem;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dialog_header {
  display: flex;
  justify-content: center;
}

.form_input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.primary_button {
  border: 0;
  padding: 1rem 4rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}

.primary_button_white{
  padding: 1rem 4rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
  border-radius: 2rem;
}

.primary_button_delete {
  border: 0;
  padding: 1rem 4rem;
  background-color: #ef4444;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}

.primary_button_delete:hover {
  background-color: #dc2626;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.primary_button:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: 5px 5px;
}

.secondary_button {
  padding: 1rem 4rem;
  background-color: #ef4444;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}


.secondary_button:hover {
  cursor: pointer;
  box-shadow: 5px 5px;
}

.form_error {
  color: #ef4444;
  text-align: center;
}

.form_success {
  color: #22c55e;
  text-align: center;
}

.text_center {
  text-align: center;
}

.loading {
  margin: auto;
  height: 3rem;
  width: 3rem;
}

.collectionTitle {
  font-size: 1em;
  font-weight: bolder;
  display: inline-block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: black;
  border-color: black;
  border-width: 3em;
  color: white;
  outline-color: white;
  border-radius: 35px;
}

.newCollection{
  border-radius: 34px;
  background-color: black;
  color: white;
  outline: none;
  padding: 0.4em 1.4em 0.4em 1.4em;
  margin-bottom: 2em;
  margin-left: auto;
  font-weight: bold;
  box-shadow: none;
  border-color: white;
}

.imgBig{
  height: 6em;
  width: 6.8em;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 1rem;
  padding: 1rem;
}

.card_container {
  border-radius: 34px;
  padding: 1.5rem;
  border: 1px solid #cbd5e1;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media (max-width: 1024px) {
  .cards_grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (max-width: 768px) {
  .cards_grid {
    grid-template-columns: 1fr; /* One column for smaller screens */
  }
}


.button_row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button_delete {
  background-color: #000000;
  width: max-content;
  padding: 0.5rem 1rem;
  color: white;
  border: 10px;
  border-radius: 34px;
  font-weight: bold;
}

.button_delete:hover {
  cursor: pointer;
  border:white;
}

.button_rename {
  background-color: #ffffff;
  width: max-content;
  border-color: black;
  border-width: 0.2em;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
  border-radius: 34px;
}

.button_rename:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.image {
  height: 15rem;
  object-fit: contain;
  background-color: #eaebed;
  border-radius: 6px;
  cursor: pointer;
}

.image_display {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.header_buttons {
  display: flex;
  gap: 1rem;
}
