.wrapper {
  padding: 2rem;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.imageContainer {
  display: flex;
  overflow: scroll;
  margin-inline: -2rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.imageInput {
  height: 15rem;
  width: 15rem;
  border: 1px dashed black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 0 15rem;
  margin-left: 2rem;
}

.imageIcon {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}

.image {
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;
  object-fit: cover;
}

.fileInput {
  display: none;
}

.nameAndTag {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.name {
  margin-top: 1.5rem;
  flex: 1;
}

.addTag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 100vw;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.addTag:active {
  background-color: #3d3d3d;
}

.plusIcon {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  margin-block: -0.5rem;
}

.tagRadio {
  display: none;
}

.tagDialog {
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
  margin: 5% auto 0;
  width: 80%;
}

.dialogContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchAndClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.closeDialog {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tagSearch {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  flex: 1;
}

.styleAndSize {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.styleContainer,
.priceContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.sizeContainer {
  gap: 0.5rem;
  align-items: center;
}

.priceContainer {
  flex-direction: row;
  width: fit-content;
}

@media (min-width: 1200px) {
  .wrapper {
    padding-top: 1rem;
    padding-inline: 4rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 0;
  }

  .formContainer {
    display: flex;
    gap: 5rem;
    align-items: end;
  }
}
