.wrapper {
    overflow: hidden;
}

.nav_bar {
    padding-top: 1.25vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-right: 3em;
}

.logo {
    margin-left: 3em;
    width: 13vw;
    height: auto;
}

.logo:hover {
    cursor: pointer;
}

.search_bar {
    width: 50vw;
    position: relative;
}

.search_bar input {
    width: 100%;
    height: 2.5em;
    display: block;
    padding-left: 3em;
    border: none;
    background-color: #E9E9E9;
    border-radius: 34px;
}

.search_bar img {
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.shopping_cart:hover {
    cursor: pointer;
}

.nav_bar button {
    border: none;
    background-color: white;
}

.nav_bar button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ticket_screen {
    
}

.ticket_screen h1 {
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.ticket_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ticket_container {
    display: flex;
    flex-direction: column;
}

.ticket_container h2 {
    text-align: center;
    margin-bottom: 0.25em;
}

.ticket_display {
    background-color: #D9D9D9;
    width: 350px;
    height: 65vh;
    border-radius: 20px;
}

.pending_ticket {
    background-color: #FFFFFF;
    margin: 1em;
    height: 200px;
    flex: 1;
    border-radius: 20px;
}

.ticket_head {
    display: flex;
    justify-content: space-between;
}

.label_pending {
    margin-top: 0.5em;
    margin-left: 1em;
    padding-top: 0.125em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 16px;
    font-weight: bold;
    background-color: #FAA61A;
    color: #FFFFFF;
    border-radius: 10px;
}

.ticket_number {
    margin-top: 0.5em;
    margin-right: 1em;
    font-size: 18px;
    font-weight: bold;
}

hr {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ticket_body {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.left_right {
    display: flex;
    justify-content: space-between;
}

.ticket_body h6 {
    font-size: 16px;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: 400;
}

.ticket_body p {
    font-size: 12px;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.left_right p {
    font-size: 16px;
}

.confirm_button {
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #3399CC;
    color: white;
    border: 0;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

.center_button {
    display: flex;
    justify-content: center;
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
.nav_bar {
    margin: 1em;
}

.logo {
    display: none;
}

.search_bar {
    width: 100vw;
}

.search_bar input {
    width: 90vw;
    height: 2.5em;
    display: flex;
    border: none;
    background-color: #E9E9E9;
    border-radius: 34px;
    justify-content: center;
}

.search_bar img {
    padding-left: 0.5em;
    left: 0.5em; /* Adjust the positioning of the search icon */
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.shopping_cart {
    display: none;
}

.nav_bar p {
    display: none;
}
}