.container {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .container {
    width: fit-content;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px;
  }

  .oneRowResponsive {
    display: flex;
    gap: 1rem;
  }
}
