.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labelform {
  display: flex;
  flex-direction: column;
}

.form_input {
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
}

.form_error {
  color: #ef4444;
  text-align: center;
  margin-top: 1rem;
}

.submit_button {
  margin-left: 4rem;
  margin-right: 4rem;
  border: 0;
  padding: 1rem;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  border-radius: 2rem;
}

.submit_button:hover {
  background-color: #1d4ed8;
  cursor: pointer;
}

.submit_response {
  text-align: center;
}

.invalid_code {
  color: #ef4444;
}

.valid_code {
  color: #22c55e;
}