.nav_bar {
  background-color: white;
  position: sticky;
  top: 0;
  padding-block: 1rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding-right: 3em;
}

.mob_nav_bar {
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-left: 3em;
  width: 13vw;
  height: auto;
}

.search_bar {
  width: 50vw;
  position: relative;
}

.search_bar input {
  width: 100%;
  height: 2.5em;
  display: block;
  padding-left: 3em;
  border: none;
  background-color: #e9e9e9;
  border-radius: 34px;
}

.search_bar img {
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.ticket_icon {
  width: 2em;
}

.profile_icon {
  width: 2em;
  margin-right: 0.5em;
}

.logo:hover,
.ticket_icon:hover,
.profile_icon:hover,
.shopping_cart:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 10em;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown_content,
.show {
  display: flex;
}

.link {
  color: black;
  text-decoration: none;
  padding: 0.75em;
}

.link:hover,
.link_clicked {
  background-color: #e9e9e9;
}

@media (max-width: 1223px) {
  .search_bar {
    flex: 4;
  }
  .search_bar input {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .dropdown {
    display: flex;
    justify-content: flex-end;
  }
  .dropdown_content {
    left: 0;
    bottom: 2.5rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  }
  .mob_nav_bar_bottom {
    position: fixed; /* Fixed/sticky position */
    bottom: 0; /* Place the bottom edge of the element at the bottom edge of the screen */
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-inline: 2rem;
  }
}
