.button {
  width: 100%;
  background-color: black;
  color: white;
  border: 0;
  padding: 0.75rem 1rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.secondary {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button:active {
  background-color: #5b5b5b;
}

.secondary:active {
  background-color: #e8e8e8;
}
