.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.textInput {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
}
