.navContainer {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15rem;
}

.searchbar {
    width: 55%;
    background-color: #E9E9E9;
    padding:0.5rem 1rem;
    border-radius: 100vw;
}

.ticketIcon {
    width: 2.25rem;
}

.cartIcon {
    width: 2rem;
}

.profileIcon {
    width: 2.5rem;
}