.wrapper {
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.leftArrow {
  align-self: flex-start;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.leftArrow:hover {
  background-color: rgb(240, 240, 240);
}

.leftArrow:active {
  background-color: rgb(230, 230, 230);
}

.imagesContainer {
  height: 15rem;
  display: flex;
  gap: 0.5rem;
}

.mainImgContainer {
  flex: 1;
}

.mainImage {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: contain;
  background-color: #eaebed;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  object-fit: contain;
  background-color: #eaebed;
}

.selectedImg {
  border: 1px solid black;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.storeName {
  margin-bottom: 0.5rem;
}

.tagContainer {
  display: flex;
  gap: 0.5rem;
}

.loadingTitle {
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #eaebed;
}

.addCollectionsIcon {
  cursor: pointer;
}

.addToCart {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.addToCart:hover {
  background-color: #f0f0f0;
}

.addToCart:active {
  background-color: #e8e8e8;
}

.cart {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
}

.sureDialog {
  border: 0;
  padding: 2rem;
  border-radius: 1rem;
  margin: auto;
}

.sureDialogTitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.sureDialogButtons {
  display: flex;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .wrapper {
    flex-direction: row;
    padding: 2rem 4rem 0;
    gap: 5rem;
    margin-bottom: 0;
  }
  .leftArrow {
    align-self: stretch;
    object-fit: none;
    border-radius: 0.5rem;
    margin-right: -4rem;
  }
  .imagesContainer {
    height: 30rem;
    flex: 1;
  }
  .detailsContainer {
    flex: 1;
    justify-content: space-between;
  }
  .buttons {
    display: flex;
    gap: 1rem;
  }
  .itemName {
    font-size: 2.5rem;
  }
  .price {
    font-size: 2rem;
  }
}
