.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 4rem 0;
}

.header {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.back_icon {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  height: 2rem;
  margin-right: 1rem;
}

.pendingContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pendingList {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
}

.btnApprove {
  
}