.backAndTitle {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.backAndTitle img {
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.backAndTitle img:hover {
  background-color: rgb(235, 235, 235);
}

.backAndTitle img:active {
  background-color: rgb(230, 230, 230);
}
