.backgroundPhoto {
  background: url("../../assets/sign-up-bg.png");
  background-size: cover;
}

.container {
  background-color: white;
  padding: 2rem;
}

.backAndTitle {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.backIcon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.backIcon:hover {
  background-color: rgb(235, 235, 235);
}

.button {
  width: 100%;
  background-color: black;
  color: white;
  border: 0;
  padding: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

@media (min-width: 600px) {
  .responsiveContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
  .flexContainer {
    flex: 1;
  }
}

@media (min-width: 800px) {
  .backgroundPhoto {
    padding: 2rem;
  }
  .container {
    padding: 4rem;
    width: 80%;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}
