.wrapper {
  overflow: hidden;
}

.display_clothing {
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.img {
  border-radius: 10px;
  background-color: white;
  height: 15rem;
  object-fit: contain;
  cursor: pointer;
}

.loading {
  margin: auto;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
}
