.wrapper {
    overflow: hidden;
}

.display_clothing {
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.display_clothing img {
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    background-color: #E9E9E9;
}

.display_clothing img:hover {
    cursor: pointer;
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {

}