.wrapper {
    /* overflow: hidden; */
}

.nav_bar {
    padding-top: 1.25vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-right: 3em;
}

.logo {
    margin-left: 3em;
    width: 13vw;
    height: auto;
}

.logo:hover {
    cursor: pointer;
}

.search_bar {
    width: 50vw;
    position: relative;
}

.search_bar input {
    width: 100%;
    height: 2.5em;
    display: block;
    padding-left: 3em;
    border: none;
    background-color: #E9E9E9;
    border-radius: 34px;
}

.search_bar img {
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.ticket_icon {
    width: 2em;
}

.profile_icon {
    width: 2em;
    margin-right: 0.5em;
}

.ticket_icon:hover,
.profile_icon:hover,
.shopping_cart:hover {
    cursor: pointer;
}

.display_clothing {
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.display_clothing img {
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    background-color: #E9E9E9;
}

.display_clothing img:hover {
    cursor: pointer;
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
.nav_bar {
    margin: 1em;
}

.logo {
    display: none;
}

.search_bar {
    width: 100vw;
}

.search_bar input {
    width: 90vw;
    height: 2.5em;
    display: flex;
    border: none;
    background-color: #E9E9E9;
    border-radius: 34px;
    justify-content: center;
}

.search_bar img {
    padding-left: 0.5em;
    left: 0.5em; /* Adjust the positioning of the search icon */
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.shopping_cart {
    display: none;
}

.nav_bar p {
    display: none;
}
}