.container {
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  width: 30%;
  margin: 4rem auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 5px 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.numberInput {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
}

.payMethods {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logoContainer {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}

.cardLogo,
.eWalletLogo {
  width: 2rem;
  object-fit: contain;
}
