.container {
    padding: 2rem;
}

.backAndTitle {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.clothesContainer {
    margin: 0 -2rem 1rem;
    display: flex;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 1.5rem;
    padding-inline: 2rem;
}

.textDetails {
    margin: 0.5rem 0 0 0.5rem;
}

.clothesDetails {
    flex: 0 0 15rem;
}

.clothes {
    border-radius: 1rem;
    height: 15rem;
    object-fit: contain;
}

.totalPayment {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.payMethods {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.radioContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cardLogo {
    width: 1rem;
    object-fit: contain;
}

.payButton {
    margin-top: 2rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.payButton:hover {
    background-color: rgb(82, 80, 80);
}

.rightArrow {
    display: none;
}

@media (min-width:900px) {
    .payButton {
        margin-top: 0rem;
        background-color: white;
        color: black;
        margin-left: auto;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-inline: 2rem;
        transition: color 0.5s ease;
    }

    .payButton:hover {
        background-color: black;
        color: white;
    }

    .rightArrow {
        display: block;
        height:1.5rem;
        width: 1.5rem;
        transition: filter 0.5s ease;
    }

    .payButton:hover .rightArrow {
        filter: invert(100%);
    }
}