.backgroundPhoto {
    background: url('../../assets/sign-up-bg.png');
    background-size: cover;
    margin-block: -2rem;
}

.body {
    display: flex;
    flex-direction: row-reverse;
}

.container {
    width: 40%;
    height: 101vh;
    background-color: white;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: center;
}

.logo {
    width: 80%;
}

.text {
    padding-top: 1em;
    padding-bottom: 2em;
}

.text h1 {
    font-size: 2.25rem;
}
.text p {
    font-size: 1.25rem;
}

.form_input {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.error_message {
    opacity: 0;
    color: red;
}

.multiple1 {
    opacity: 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.ball1, .ball2, .ball3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 0 3px;
 }
 
.ball1 {
    background-color: #62abc1;
    -webkit-animation: single1ball1anim 2s infinite linear;
    animation: single1ball1anim 2s infinite linear;
}

@-webkit-keyframes single1ball1anim {
0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
12.5% {
    -webkit-transform: scale(1.2);
    transform: scale(1.5);
}
25%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1)
}
}

@keyframes single1ball1anim {
0% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
12.5% {
    -webkit-transform: scale(1.2);
    transform: scale(1.5);
}
25%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1)
}
}

.ball2 {
    background-color: #468295;
    -webkit-animation: single1ball2anim 2s infinite linear;
    animation: single1ball2anim 2s infinite linear;
}

@-webkit-keyframes single1ball2anim {
0%, 25% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
37.5% {
    -webkit-transform: scale(1.2);
    transform: scale(1.5)
}
50%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

@keyframes single1ball2anim {
0%, 25% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
37.5% {
    -webkit-transform: scale(1.2);
    transform: scale(1.5)
}
50%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

.ball3 {
    background-color: #34616f;
    -webkit-animation: single1ball3anim 2s infinite linear;
    animation: single1ball3anim 2s infinite linear;
}

@-webkit-keyframes single1ball3anim {
0%, 50% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
62.5% {
    -webkit-transform: scale(1.2);
    transform: scale(1.5)
}
75%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

@keyframes single1ball3anim {
0%, 50% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
62.5% {
    -webkit-transform: scale(1.2);
    transform: scale(1.5)
}
75%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
    
}