/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
  font-size: 87.5%;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  /* background-color: rgb(241, 241, 241); */
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: rgb(167, 167, 167);
}